h3
{
font-size: 30px !important;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn_success:hover{
    background-color: blue;
}

canvas {
    animation-name : Nose;
    animation-duration : 5s;
    animation-iteration-count: infinite;
}

@keyframes Nose {
    from { box-shadow: 1px 1px 40px purple;}
    to { box-shadow: 1px 1px 40px red;}
}